.formLogin {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
}
