.button-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
  margin-right: 15px;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
}

.logout{
  position: absolute;
  right: 25px;
  text-decoration: none;
  color: inherit;
}

.buttonHover:hover{
  animation: pulse;
  animation-duration: 1s;
}
