.list{
  min-height: 200px;
}

mat-card{
  height: 190px;
  width: 1200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.editButton{
  background-color: #43a047;
  right: 1em;
  bottom: 1em;
  position: absolute;
}
