.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
  padding: 20px 100px 50px 100px;
  display: flex;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.title {
  margin-bottom: 30px;
  position: relative;
  font-size: x-large;
}

.description {
  height: 50%;
}

.btnCancel{
  position: absolute;
  text-decoration: none;
  right: 0;
  margin-right: 10%;
}

.btnSubmit{
  margin-left: 10px;
  text-decoration: none;
}

