<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="title">ADD/EDIT FORM</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="project.reference" placeholder="Reference" formControlName="reference" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea id="description" rows="6" matInput [(ngModel)]="project.description" class="description" placeholder="Description" formControlName="description" autocomplete="off"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btnSubmit" color="primary" type="submit">Submit</button>
        <a href="/projects" mat-raised-button class="btnCancel" color="accent">Cancel</a>
      </mat-card-actions>
  </mat-card>
</form>
